<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
	
	<!-- 컴포넌트 스캔 -->
	<context:component-scan base-package="model"></context:component-scan>
	<context:component-scan base-package="com.seong.app"></context:component-scan>
	
	<!-- 1. 어노테이션으로 AOP 사용할 것을 컨테이너에 알려주기 -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>

</beans>
